.pio
main/configuration.h
main/credentials.h

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace


.idea

.DS_Store
Thumbs.db
.autotools
.built
.context
.cproject
.vagrant
nanopb*
flash.uf2
cmake-build*
__pycache__

*.swp
*.swo
*~

venv/
release/
.vscode/extensions.json
/compile_commands.json
src/mesh/raspihttp/certificate.pem
src/mesh/raspihttp/private_key.pem
docker/meshmnt/.portduino/default/prefs/channels.proto
docker/meshmnt/.portduino/default/prefs/db.proto
docker/meshmnt/core
docker/meshmnt/.viminfo
docker/meshmnt/core
docker/meshmnt/meshtasticd_linux_aarch64
docker/meshmnt/core
docker/meshmnt/core
docker/meshmnt/core
